<!DOCTYPE html>

<head>
    <title>Leading Causes of Death in New York</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!--React -->
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
</head>



<body class="container">

    <div class="header" style="padding-top: 100px; padding-bottom: 100px; max-width: 100%">
        <h1 align="center" id="topOfPage"><b>New York Leading Causes of Death By Race/Gender</b></h1>
    </div>

    <div class="navbar">
    </div>

    <br>
    <br>

    <h1>About This Website</h1>

    <p>The basic website displays data from the New York Department of Health and Mental Hygiene to show the leading causes of death by race and gender in the New York metropolitan area. Data is available since 2007 and ICD-10 CM codes are displayed (these
        are administrative codes used for insurance billing and quality assurance metrics). The data shows that for every day we combat illness and injury, the fact we survive at all is a miracle.
    </p>

    <p>
        But mostly it is just an excuse to try out Bootstrap, EJS, React, and server-to-server API call interactions.
    </p>

    <br>

    <h1>Important Links</h1>
    <br>
    <div style="  display: flex;display: -webkit-flex;flex-wrap: wrap;">
        <div class=" col-sm-6 " style="background-color:black;">
            <h3 align="center" style="color:white">Source</h3>
            <br>
            <ul class="list-group">
                <a href="https://catalog.data.gov/dataset/new-york-city-leading-causes-of-death-ce97f">
                    <li align="center" class="list-group-item">Data.gov Link</li>
                </a>
            </ul>
        </div>
        <div class="col-sm-6 " style="background-color:black">
            <h3 align="center" style="color:white">Other Links</h3>
            <br>
            <ul class="list-group">
                <a href="http://www.icd10data.com/">
                    <li align="center" class="list-group-item">ICD-10 Codes</li>
                </a>
                <a href="http://www1.nyc.gov/site/doh/index.page">
                    <li align="center" class="list-group-item">New York Department of Health and Mental Hygiene</li>
                </a>
                <a href="http://www.cdc.gov">
                    <li align="center" class="list-group-item">Center for Disease Control</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 " style="background-color:white; padding-top:50px; padding-bottom:50px">
    </div>

    <div class="myfooter">
        <!--<a href="#top"><button type="button" class="btn btn-primary btn-block">Back To Top</button></a>-->
    </div>


    <div class="col-sm-12 " style="background-color:white; padding-top:25px; padding-bottom:25px">
    </div>
    <script src="/scripts/headerandfooter.js"></script>
</body>